# Analysis of Crime Data in Cuyahoga County

In [10]:
import requests
import json
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
from citipy import citipy
import numpy as np
from scipy.stats import linregress

from api_keys import weather_api_key
from api_keys import fbi_key
from api_keys import crime_key

In [13]:
url = f"https://api.crimeometer.com/v1/incidents/raw-data?lat=41.49932&lon=-81.6943605&distance=50mi&datetime_ini=2018-01-01T12:00:00.000Z&datetime_end=2018-03-21T11:59:59.000Z&page=1"
response=requests.get(url).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "message": "Forbidden"
}

In [9]:
url2=f"https://api.crimeometer.com/v1/incidents/raw-data?lat=41.49932&lon=-81.6943605&datetime_ini=2018-1-1T12:00:00.000Z&datetime_end=2018-3-21T11:59:59.000Z&distance=50mi"
response=requests.get(url2).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "message": "Forbidden"
}

In [17]:
crime_2017 = pd.read_csv("ocjs_crimebycounty2017.csv")
crime_2017.head()

,ORI,AGENCY NAME,POPULATION,VIOLENT CRIME,PROPERTY CRIME,MURDER,RAPE,ROBBERY,AGGRAVATED ASSAULT,BURGLARY,LARCENY,MTR VEHICLE THEFT,ARSON
0,OH02538,OHIO DEPT OF NATURAL RESOURCES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,OHOHP00,OHIO STATE HGHWAY PATROL,NaN,280,209,3.0,42,6,229,3,157,49,4
2,NaN,TOTAL,NaN,280,209,3.0,42,6,229,3,157,49,4
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OH00102,PEEBLES,"1,746",3,3,NaN,NaN,NaN,3,1,1,1,NaN

In [7]:
#Obtain data

In [ ]:
#Json output for each agency data using endpoints above

In [ ]:
#Make a dataframe for each output

In [ ]:
#Clean the data

In [10]:
#State UCR Crime Data for 2018
year_state=f"https://api.usa.gov/crime/fbi/sapi/api/summarized/estimates/states/OH/2018/2018?api_key={fbi_key}"
response=requests.get(year_state).json()
print(json.dumps(response, indent=4, sort_keys=True))

{
    "pagination": {
        "count": 1,
        "page": 0,
        "pages": 1,
        "per_page": 0
    },
    "results": [
        {
            "aggravated_assault": 17674,
            "arson": 1325,
            "burglary": 48186,
            "homicide": 564,
            "larceny": 186401,
            "motor_vehicle_theft": 19909,
            "population": 11689442,
            "property_crime": 254496,
            "rape_legacy": null,
            "rape_revised": 5300,
            "robbery": 9185,
            "state_abbr": "OH",
            "state_id": 39,
            "violent_crime": 32723,
            "year": 2018
        }
    ]
}

In [ ]:
#

In [ ]:
#

In [ ]:
#

In [ ]:
#

In [ ]:
#

In [ ]:
#

In [ ]:
#